# What is Data type?

A data type in Python defines the type of value a variable can hold, such as numbers, text, or complex data structures.Python has built-in data types like int, float, complex, bool, str, list, tuple, set, and dict.

In [4]:
#Integer (int):
x1 = 11
x2 = -7
x3 = 10000
x4 = -555
x5 = 41
x6 = 0
x7 = 12369
x8 = 75
x9 = -69
x10 = 2003

#Float :
y1 = 10.6
y2 = -3.17
y3 = 0.0
y4 = 2.8
y5 = -9.99
y6 = 1.0
y7 = 124.6789

#Complex :
z1 = 3 + 5j
z2 = -1 - 5j
z3 = 1 + 0j
z4 = 9j
z5 = 4 - 3j
z6 = -3.9 + 6.9j
z7 = 15 + 0j

#Boolean:
b1 = True
b2 = False
b3 = 5 > 1 # True
b4 = 10 < 5 # False
b5 = bool(1) # True
b6 = bool(0) # False
b7 = bool("Python") # True

# Type Conversion :

Type conversion is changing one data type to another using built-in functions like int(), float(), str(), bool().

In [2]:
a = 10
b = float(a) # Convert int to float
c = str(a) # Convert int to string
d = int(3.14) # Convert float to int
e = bool(0) # Convert to boolean

type() function is used to check the data type of a variable.

In [3]:
print(type(a)) # <class 'int'>
print(type(b)) # <class 'float'>
print(type(c)) # <class 'str'>
print(type(d)) # <class 'int'>
print(type(e)) # <class 'bool'>

<class 'int'>
<class 'float'>
<class 'str'>
<class 'int'>
<class 'bool'>