# What is Data type?

A data type in Python defines the type of value a variable can hold, such as numbers, text, or complex data structures.Python has built-in data types like int, float, complex, bool, str, list, tuple, set, and dict.

In [5]:
#Integer (int):
x1 = 11
x2 = -7
x3 = 10000
x4 = -555
x5 = 41
x6 = 0
x7 = 12369
x8 = 75
x9 = -69
x10 = 2003

print(type(x1))
print(type(x2))
print(type(x3))
print(type(x4))
print(type(x5))
print(type(x6))
print(type(x7))
print(type(x8))
print(type(x9))
print(type(x10))

<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>

In [6]:
#Float :
y1 = 10.6
y2 = -3.17
y3 = 0.0
y4 = 2.8
y5 = -9.99
y6 = 1.0
y7 = 124.6789

print(type(y1))
print(type(y2))
print(type(y3))
print(type(y4))
print(type(y5))
print(type(y6))
print(type(y7))

<class 'float'>
<class 'float'>
<class 'float'>
<class 'float'>
<class 'float'>
<class 'float'>
<class 'float'>

In [7]:
#Complex :
z1 = 3 + 5j
z2 = -1 - 5j
z3 = 1 + 0j
z4 = 9j
z5 = 4 - 3j
z6 = -3.9 + 6.9j
z7 = 15 + 0j

print(type(z1))
print(type(z2))
print(type(z3))
print(type(z4))
print(type(z5))
print(type(z6))
print(type(z7))

<class 'complex'>
<class 'complex'>
<class 'complex'>
<class 'complex'>
<class 'complex'>
<class 'complex'>
<class 'complex'>

In [8]:
#Boolean:
b1 = True
b2 = False
b3 = 5 > 1 # True
b4 = 10 < 5 # False
b5 = bool(1) # True
b6 = bool(0) # False
b7 = bool("Python") # True

print(type(b1))
print(type(b2))
print(type(b3))
print(type(b4))
print(type(b5))
print(type(b6))

<class 'bool'>
<class 'bool'>
<class 'bool'>
<class 'bool'>
<class 'bool'>
<class 'bool'>

# Type Conversion :

Type conversion is changing one data type to another using built-in functions like int(), float(), str(), bool().

In [9]:
a = 10
b = float(a) # Convert int to float
c = str(a) # Convert int to string
d = int(3.14) # Convert float to int
e = bool(0) # Convert to boolean

print(a) # 10
print(b) # 10.0
print(c) # '10'
print(d) # 3
print(e) # False

10
10.0
10
3
False

type() function is used to check the data type of a variable.

In [10]:
print(type(a)) # <class 'int'>
print(type(b)) # <class 'float'>
print(type(c)) # <class 'str'>
print(type(d)) # <class 'int'>
print(type(e)) # <class 'bool'>

<class 'int'>
<class 'float'>
<class 'str'>
<class 'int'>
<class 'bool'>