#String( ) :
* A string is a sequence of characters.
* Enclosed in single quotes (' '), double quotes (" "), or triple quotes (''' ''') for multi-line text.

In [ ]:
a ='my name is snuhith '
print(a)

b = "my name is snuhith"
print(b)

c = '''my name is snuhith'''
print(c)

my name is snuhith
my name is snuhith
my name is snuhith

# Indexing( ) :
* Indexing in Python strings allows you to access individual characters using their position.
* There are two types of indexing : positive and negative indexing.

In [ ]:
a = 'Hello'
a[0]

'H'

In [ ]:
a = 'python'
a[2]

't'

In [ ]:
a = 'python'
a[-4]

't'

In [ ]:
a = 'python'
a[0]

'p'

# Slicing( ) :
* Slicing is used to extract a portion (substring) of a string.

In [ ]:
a = 'python'
a[2:]

'thon'

In [ ]:
a = 'python'
a[:5]

'pytho'

In [ ]:
a = 'python'
a[-5:-2]

'yth'

# String Format:
1. format( ) method:
* The format() method allows inserting variables into a string using {} placeholders, supporting both positional and named arguments.
* It provides advanced formatting options like alignment, padding, and number formatting (e.g., {:.2f} for two decimal places).

In [ ]:
name = 'snuhith'
age = '21'
print('My name is {} and My age is {} year old'.format(name,age))

My name is snuhith and My age is 21 year old

In [ ]:
name = 'TEKS'
place = 'hitech city'
print('{} acadamy is in {}'.format(name,place))

TEKS acadamy is in hitech city

2. f.string method
* f-strings let you insert variables directly into a string using {}.
* They are faster than .format() formatting because they are evaluated at runtime directly.

In [ ]:
name = 'snuhith'
age = '21'
print(f'My name is {name} and My age is {age} year old')

My name is snuhith and My age is 21 year old

In [ ]:
name = 'TEKS'
place = 'hitech city'
print(f'{name} acadamy is in {place}')

TEKS acadamy is in hitech city

3. concatination:
* Joining two or more strings using the + operator.
* Using += allows adding strings to an existing string.

In [ ]:
a = 'hello'
b = 'world'
print(a+" "+b)

hello world

In [ ]:
a = 'hello'
a += 'world'
print(a)

helloworld

In [ ]:
a = 'hello'
b = 'world'
print(a+b)

helloworld

4. Repetition( ):
* Repeating a string multiple times using the * operator.
* It is useful for creating patterns or repeating characters easily.

In [ ]:
a = "Booking start at 11AM"
a * 5

'Booking start at 11AMBooking start at 11AMBooking start at 11AMBooking start at 11AMBooking start at 11AM'

In [ ]:
print("hey"*5)

heyheyheyheyhey

# String Methods:
1. len( ):
* Returns the number of characters in a string, including spaces.
* It helps in finding the length of a string for loops, validations, and processing.

In [ ]:
a = "Booking start at 11AM"
len(a)

21

In [ ]:
b =("python")
len(b)

6

2. upper( ):
* Converts all letters in a string to uppercase.
* It does not change the original string; it returns a new uppercase version.

In [ ]:
a = "Booking start at 11AM"
a.upper()

'BOOKING START AT 11AM'

In [ ]:
print("python".upper())

PYTHON

3. lower( ) :
* Converts all letters in a string to lowercase.
* It does not modify the original string but returns a new lowercase version.

In [ ]:
a = "BOOKING STARTS AT 11AM"
a.lower()

'booking starts at 11am'

In [ ]:
print("PYTHON".lower())

python

4. count( ):
* Counts how many times a specific substring appears in a string.
* It is case-sensitive, ["Hello".count("h") and "Hello".count("H") give different results].

In [ ]:
a= "data science"
a.count('a')

2

In [ ]:
print("BOOKING STARTS AT 11AM".count('o'))

0

5. split( ):
* Breaks a string into a list of words based on a separator (default is space).
* It helps in processing sentences by dividing them into smaller parts.

In [ ]:
a = "BOOKING START AT 11AM"
a.split()

['BOOKING', 'START', 'AT', '11AM']

In [ ]:
print("BOOKING START AT 11AM".split())

['BOOKING', 'START', 'AT', '11AM']

6. strip( ):
* Removes spaces (or specified characters) from the beginning and end of a string.
* It does not change the original string but returns a new trimmed version.

In [ ]:
a = "  BOOKING START AT 11AM  "
a.strip()

'BOOKING START AT 11AM'

In [ ]:
print("  BOOKING START AT 11AM  ".strip())

BOOKING START AT 11AM

7. center( ):
* The center(width, fillchar) method in Python returns a new string that is centered within the given width, using the specified fill character (default is a space).

In [ ]:
a = "hello"
print(a.center(9, "_"))

__hello__

8. endswith( ):
* string ends with the specified suffix and returns True or False.
* It can also check within a specific range using optional start and end parameters.

In [ ]:
a = "hello world"
print(a.endswith("world"))

True

In [ ]:
print("hello world".endswith("d"))

True

9. expandtabs():
* Replaces tab characters (\t) in a string with spaces.
* The tabsize parameter (default is 8) specifies the number of spaces per tab.

In [ ]:
a = "Hello\tWorld"
print(a.expandtabs(4))

Hello   World

In [ ]:
print("Hello\tWorld".expandtabs(4))

Hello   World

10. find( ):
* Returns the lowest index of the specified substring within the string.
* If the substring is not found, it returns -1.

In [ ]:
a = "hello world"
print(a.find("world"))

6

In [ ]:
print("Hello World".find("Python"))

-1

11. replace( ):
* Returns a new string where all occurrences of the old substring are replaced with new.
* Replace(old, new, count) The optional count parameter specifies how many replacements to make.

In [ ]:
a = "hello world"
print(a.replace("world", "Python"))

hello Python

In [ ]:
print("hello world".replace("o","#",1))

hell# world

12. translate( ):
* Replaces characters in a string based on a translation table created using str.maketrans().

In [ ]:
a = str.maketrans("aeiou", "12345")
b = "hello world"
print(b.translate(a))

h2ll4 w4rld

In [ ]:
print("hello world".translate(str.maketrans("aeiou", "12345")))

h2ll4 w4rld