# Loop Statements:
1. While Loop:
* With the while loop we can execute a set of statements as long as a condition is true.

* It is useful when the number of iterations is unknown beforehand.

* remember to increment i, or else the loop will continue forever.

* Syntax:
while condition: # Code block to execute

In [1]:
#while statement
#Example-1
i=0
while i<=5:
  print(i)
  i=i+1

0
1
2
3
4
5

In [2]:
#Example-2:
x = 1
while x <= 5:
    x += 1
    print(x)

2
3
4
5
6

In [3]:
#Example-3:
x = 1
while x <= 5:
    print(x)
    x += 1

1
2
3
4
5

2. for loop:
* A for loop in Python is used to iterate over a sequence (such as a list, tuple, dictionary, string, or range).
* It executes a block of code for each item in the sequence.
* Syntax: for variable in sequence: # Code block to execute

In [4]:
age=[12,34,56,78,98]#List
for i in age:
  print("My age is",i)

My age is 12
My age is 34
My age is 56
My age is 78
My age is 98

In [5]:
string="python"#string
for y in string:
  print(y)

p
y
t
h
o
n

In [6]:
tup=("apple","banana","hero_bharat")#tuple
for hero in tup:
  print(hero)

apple
banana
hero_bharat

In [7]:
st={1,23,4,4,5,63.67,8,89,99,99,9}#set
for i in st:
  print(i)

1
99
4
5
8
9
23
89
63.67

In [8]:
dic={"name":"dhan","age":20,"place":"hyd"}#dictionary
for key,value in dic.items():
  print(f'my key is {key} and my value is {value}')

my key is name and my value is dhan
my key is age and my value is 20
my key is place and my value is hyd

In [9]:
for i in range(1,25):#last value is(n-1)
  print(i)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24

# Control Statements:
* Control statements alter the flow of execution in loops and conditional statements.
* The three main control statements are pass, continue, and break.
1. pass:
* The pass statement is a placeholder and does nothing when executed.
* It is useful when a block of code is syntactically required but not yet implemented.

In [10]:
for i in range(1,10):#pass
  if i==2:
    pass
  else:
    print(i)

1
3
4
5
6
7
8
9

2. Continue:
* It is used to skip a specific iteration in a loop.
* The loop does not terminate; it continues with the next iteration.

In [11]:
for i in range(1,34):#continue
  if i==10:
    continue
  else:
    print(i)

1
2
3
4
5
6
7
8
9
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33

3. break:
* It is used to exit a loop immediately.
* Any code after break inside the loop is not executed.

In [12]:
for i in range(23):
  if i==15:
    break # Stop the loop when i is 15
  else:
    print(i)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14

In [13]:
for i in range(23):
  if i==15:
    break # Stop the loop when i is 15
  else:
    print(i)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14