#Dictionary( ):
* A Python dictionary stores data in key-value pairs, where each key is unique, and it maps to a corresponding value.

* Dictionaries are mutable (we can add, update, or remove key-value pairs after creation).

* Dictionaries are defined using curly braces {} with keys and values separated by colons.

* A dictionary cannot have duplicate keys; if a duplicate key is assigned a new value, the old value gets overwritten.

* Dictionaries can contain other dictionaries, allowing the creation of complex data structures.

In [1]:
person = {"Name":"snow","Age":21,"City":"Hyderabad"}
print(type(person))
print(person)

<class 'dict'>
{'Name': 'snow', 'Age': 21, 'City': 'Hyderabad'}

#Dictionary Methods:
1. pop( ):
Removes the item with the specified key name.#

In [2]:
person = {"Name":"snow","Age":21,"City":"Hyderabad"}
person.pop("Age")
print(person)

{'Name': 'snow', 'City': 'Hyderabad'}

In [3]:
person = {"Name":"sai","Age":21,"City":"Hyderabad","DOB":4}
person.popitem()

('DOB', 4)

2. update( ):
* Updates the dictionary with key-value pairs from another dictionary.

In [4]:
person = {"Name":"sai","Age":21,"City":"Hyderabad"}
person.update({"DOB":4})
print(person)

{'Name': 'sai', 'Age': 21, 'City': 'Hyderabad', 'DOB': 4}

3. dict.keys():
* Returns a view object of all the keys in the dictionary.

In [5]:
person = {"Name":"sai","Age":21,"City":"Hyderabad","DOB":4}
print(person.keys())

dict_keys(['Name', 'Age', 'City', 'DOB'])

In [6]:
a = {1:"a",2:"b",3:"c"}
a.keys()

dict_keys([1, 2, 3])

4. dict.values():
* Returns a view object of all the values in the dictionary.

In [7]:
person = {"Name":"sai","Age":21,"City":"Hyderabad","DOB":4}
print(person.values())

dict_values(['sai', 21, 'Hyderabad', 4])

In [8]:
a = {1:"a",2:"b",3:"c"}
a.values()

dict_values(['a', 'b', 'c'])

5. dict.items( ):
* Returns a view object containing key-value pairs as tuples.

In [9]:
person = {"Name":"sai","Age":21,"City":"Hyderabad","DOB":4}
print(person.items())

dict_items([('Name', 'sai'), ('Age', 21), ('City', 'Hyderabad'), ('DOB', 4)])

In [10]:
a = {1:"a",2:"b",3:"c"}
a.items()

dict_items([(1, 'a'), (2, 'b'), (3, 'c')])

6. dict.copy( ):
* Returns a shallow copy of the dictionary.

In [11]:
person2 = person.copy()
print(person)
print(person2)

{'Name': 'sai', 'Age': 21, 'City': 'Hyderabad', 'DOB': 4}
{'Name': 'sai', 'Age': 21, 'City': 'Hyderabad', 'DOB': 4}

In [12]:
b = a.copy()
print(a)
print(b)

{1: 'a', 2: 'b', 3: 'c'}
{1: 'a', 2: 'b', 3: 'c'}

7. dict.clear( ):
* Removes all items from the dictionary.

In [13]:
person.clear()
print(person)
print(person2)

{}
{'Name': 'sai', 'Age': 21, 'City': 'Hyderabad', 'DOB': 4}

In [14]:
a.clear()
print(a)
print(b)

{}
{1: 'a', 2: 'b', 3: 'c'}