In [ ]:
#explain about list in theory format with 5 examples
#explain index with 5 exps
#explain slicing with 5 exps
#explain about methods in list funtion with examples

# LIST :

The list() function creates a list object.

A list object is a collection which is ordered and mutable (changeable).

collection of elements (or) items (or) values. which is represented in square brackets '[ ]'. and elements are separated by comma ' , ' .

In [ ]:
# examples of list

age = [20,23,22,26,27,28]

print(age)

[20, 23, 22, 26, 27, 28]

In [ ]:

id = [101,102,103,106,107,108]

print(id)

[101, 102, 103, 106, 107, 108]

In [ ]:

letter = ['A','B','C','D','E','F']

print(letter)

['A', 'B', 'C', 'D', 'E', 'F']

In [ ]:

fruit = ['apple','banana','grape','orange']

print(fruit)

['apple', 'banana', 'grape', 'orange']

In [ ]:

rollno = [12,13,14,15,16,17]

print(rollno)

[12, 13, 14, 15, 16, 17]

# INDEX :    
 The index() method returns the position at the first occurrence of the specified value.

 Index can only access single element in the list .

 two types :

            1. Postive index (0 to +infinty)
                  left to right direction .

            2. Negative index (-1 to -infinty)
                 right to left direction .

In [ ]:
#examples of index :

age = [20,23,22,26,27,28]

age.index(26)

3

In [ ]:
fruit = ['apple','banana','grape','orange']

fruit.index('banana')

1

In [ ]:
id = [101,102,103,106,107,108]

id.index(108)

5

In [ ]:
letter =['a','b','c','d','e']

letter.index('d')

3

In [ ]:
rollno = [12,13,14,15,16,17]

rollno.index(15)

3

# silicing

You can return a range of characters by using the slice syntax.

Specify the start index and the end index, separated by a colon, to return a part of the elements (or) string.

In [ ]:
#examples of slicing

#with start and end postions

age = [20,23,22,26,27,28,29,30]

age[1:4]

[23, 22, 26]

In [ ]:
#with only end ,leaving start position empty

age = [20,23,22,26,27,28,29,30]

age[:4]

[20, 23, 22, 26]

In [ ]:
#with only start ,leaving end position empty

age = [20,23,22,26,27,28,29,30]

age[2:]

[22, 26, 27, 28, 29, 30]

In [ ]:
#negative slicing

age = [20,23,22,26,27,28,29,30]

age[-5:-2]

[26, 27, 28]

In [ ]:
# using string

name = "snuhith komati"
name[1:7]

'nuhith'

# List methods :     
1. append()	Adds an element at the end of the list
2. clear()	Removes all the elements from the list
3. copy()	Returns a copy of the list
4. count()	Returns the number of elements with the specified value
5. extend()	Add the elements of a list (or any iterable), to the end of the current list
6. index()	Returns the index of the first element with the specified value
7. insert()	Adds an element at the specified position
8. pop()	Removes the element at the specified position
9. remove()	Removes the first item with the specified value
10. reverse()	Reverses the order of the list
11. sort()	Sorts the list

In [ ]:
#list methods examples
#append()

a=[1,2,3,4,5]

a.append(6)
print(a)

[1, 2, 3, 4, 5, 6]

In [ ]:
#clear()

a=[1,2,3,4,5,6]

a.clear()
print(a)

[]

In [ ]:
#copy()

a=[1,2,3,4,5]

a.copy()

[1, 2, 3, 4, 5]

In [ ]:
#count()

a=[1,2,3,2,4,2,5]

a.count(2)

3

In [ ]:
#extend()

a=[1,2,3,4,5]

b=[6,7,8,9]

a.extend(b)

print(a)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
#index()

a=[1,2,3,4,5]

a.index(2)

1

In [ ]:
#insert()

a=[1,2,3,4,5]

a.insert(2,6)

print(a)

[1, 2, 6, 3, 4, 5]

In [ ]:
#pop()

a=[1,2,3,4,5]

a.pop(3)
print(a)

[1, 2, 3, 5]

In [ ]:
#remove()

a=[1,2,3,4,5]

a.remove(3)
print(a)

[1, 2, 4, 5]

In [ ]:
#reverse()

a =[1,2,3,4,5,6,7,8]

a.reverse()
print(a)

[8, 7, 6, 5, 4, 3, 2, 1]

In [ ]:
#sort()

a = [4,6,2,7,1,8,3,9,5]

a.sort()
print(a)

[1, 2, 3, 4, 5, 6, 7, 8, 9]