#Operators :
1. Arithmetic operator : are used with numeric values to perform common mathematical operations.

In [ ]:
a = 20
b = 4
print(a+b)
print(a-b)
print(a*b)
print(a/b)
print(a%b)
print(a**b)
print(a//b)

24
16
80
5.0
0
160000
5

2. Comparison operators : are used to compare two values.

In [ ]:
a = 20
b = 4
print(a==b)
print(a!=b)
print(a>b)
print(a<b)
print(a>=b)
print(a<=b)

False
True
True
False
True
False

3. Assignment operators: are used to assign values to variables.

In [ ]:
a = 20
b = 4
a+=b
print(a)

24

In [ ]:
a-=b
print(a)

20

In [ ]:
a*=b
print(a)

80

In [ ]:
a/=b
print(a)

20.0

In [ ]:
a%=b
print(a)

0.0

In [ ]:
a**=b
print(a)

0.0

4. Logical operators: are used to combine conditional statements:

* and : Returns True if both statements
are true.

* or : Returns True if one of the statements is true.

* not : Reverse the result, returns False if the result is true.

In [ ]:
a = 22
b = 4
print(a>b and b==b)
printr(a<b or b==b)
print(a>b and)

True

5. Identity operators: are used to compare the objects, not if they are equal, but if they are actually the same object, with the same memory location.

* is : Returns True if both variables are the same object.

* is not : Returns True if both variables are not the same object.

In [18]:
a = 20
b = 4
print(a is b)
print(a is not b)

False
True

6. Membership operators: are used to test if a sequence is presented in an object.

* in : Returns True if a sequence with the specified value is present in the object.

* not in : Returns True if a sequence with the specified value is not present in the object.

In [19]:
a = [3,4,5,6,7,8]
print(5 in a)
print(7 in a)
print(8 not in a)

True
True
False

7. Bitwise operators: are used to compare (binary) numbers.

* & (AND) Sets each bit to 1 if both bits are 1.

* | (OR) Sets each bit to 1 if one of two bits is 1.

* ^ (XOR) Sets each bit to 1 if only one of two bits is 1.

* ~ (NOT) Inverts all the bits.

* << (Zero fill left shift) Shift left by pushing zeros in from the right and let the leftmost bits fall off.

* (>>) (Signed right shift) Shift right by pushing copies of the leftmost bit in from the left, and let the rightmost bits fall off.

In [20]:
a = 22
b = 4
print(a&b)
print(a|b)
print(a^b)
print(~a)
print(a<<2)
print(b<<2)
print(a>>2)
print(b>>2)

4
22
18
-23
88
16
5
1